<div class="alert alert-danger" role="alert" ng-if="notfoundError">Покемон не найден</div>

<md-card>

    <md-card-content disable="disableControlTab">

        <h1 class="media-heading">{{$ctrl.pokemon.name | uppercase }}</h1>
        <p>Вес:
            {{$ctrl.pokemon.weight}}, рост:
            {{$ctrl.pokemon.height}}</p>

    </md-card-content>

    <md-card-actions>

        <md-button ng-click="deletePokemon($ctrl.pokemon.objectId)">
            <span class="glyphicon glyphicon-trash"></span>
            Удалить
        </md-button>
        <a class="btn btn-primary" href="#!/edit/{{$ctrl.pokemon.objectId}}">
            <md-button>Редактировать</md-button>
        </a>

    </md-card-actions>

<md-card>

<div class="alert alert-success" role="alert" ng-if="deletionSuccess">Пока, покемон!</div>
<div class="alert alert-danger" role="alert" ng-if="deletionError">Покемоны не сдаются!</div>
